/*   Open state of the dialog  */
dialog[open] {
  opacity: 1;
  transform: translateY(0);
}

/*   Closed state of the dialog   */
dialog {
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 0.25s ease-out, transform 0.25s ease-out,
    overlay 0.25s ease-out allow-discrete, display 0.25s ease-out allow-discrete;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

/* Needs to be after the previous dialog[open] rule to take effect, as the specificity is the same */
@starting-style {
  dialog[open] {
    opacity: 0;
    transform: translateY(50%);
  }
}

/* Transition the :backdrop when the dialog modal is promoted to the top layer */
dialog::backdrop {
  background-color: rgb(0 0 0 / 0);
  transition: display 0.25s allow-discrete, overlay 0.25s allow-discrete, background-color 0.25s;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.25);
}

/* This starting-style rule cannot be nested inside the above selector
because the nesting selector cannot represent pseudo-elements. */
@starting-style {
  dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 0);
  }
}
